.osint_header {
    display: flex;
    justify-content: space-between;
}

.osint_header-link {
    color: #000;

    font-family: HelveticaNeueCyr;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}
.continer-osint{
    padding: 0 30px;
}
.tr-link:nth-child(even){
    display: inline-table;
    color: #3a3a3a;
    min-height: 30px !important;
    height: 30px !important;
}

.tr-link:nth-child(odd){
    display: inline-table;
    color: #3a3a3a;
    height: 30px !important;
    background-color: #DDF0FA;
}

 td{
    max-height: 30px;
    white-space: nowrap;       /* Запрещает перенос слов */
    overflow: hidden;          /* Скрывает текст, который не помещается в контейнере */
    text-overflow: ellipsis;   /* Добавляет многоточие (...) */
    width: 50px;
}


.tableWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-spacing: 0;
    border: 1px solid #ededed;
    overflow: scroll;
    width: 100% !important;
    height: 70%;
}

table {
    width: 1000px !important;/* Задайте желаемую ширину */
    width: 1000px !important; /* Не позволяйте таблице быть шире, чем родительский контейнер */
}

th, td , tr{
    width: 300px; /* Сбросьте автоматическую ширину ячеек */
}

th, td , tr{
    word-wrap: break-word;
}

th, td, tr {
    overflow: hidden;
    text-overflow: ellipsis; /* Отображение многоточия, если контент не умещается */
}

/* Например, задайте ширину для конкретной колонки */
th:nth-child(1), td:nth-child(1) {
    width: 20%; /* Задайте желаемую ширину */
}

tr:nth-child(2n) {
    background-color: #fafafa;
}

th {
    padding: 15px;
}

td {
    padding: 5px 10px;
}


.edit_h2{
    display: flex;
    justify-content: end;
}

.edit_btn {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #097CB4;
    font-weight: 600;
    font-size: 17px;
    border: 1px solid;
    padding: 3px 6px;
    border-radius: 5px;
}


.project_h1 {
    font-size: 24px; /* Размер заголовка */
    font-weight: bold; /* Жирный шрифт */
    text-decoration: underline; /* Подчеркивание */
    margin-bottom: 10px; /* Отступ снизу */
}

.newStyle_container p {
    margin-left: 20px;
    text-align: left;
    font-size: 16px; /* Размер абзаца */
    line-height: 1.4; /* Междустрочное расстояние */
    margin-bottom: 10px; /* Отступ снизу */
}

b {

    font-weight: bold; /* Жирный шрифт для жирных текстов */
}
