*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.active
{
    color: #097CB4 !important;
}
.adding
{
    opacity: 0.5;
}
.btn_add--add
{
    background-color: #DDF0FA;
    border: none;
    color: #555;
    cursor: pointer;
    font-size: 24px;
    height: 50px;
    width: 100%;
}
.btn_add--req
{
    background-color: #DDF0FA;
    border: none;
    color: #555;
    cursor: pointer;
    font-family: HelveticaNeueCyr;
    font-weight: 550;
    height: 50px;
    margin: 20px 0;
    width: 100%;
}
.button_terminal
{
    background-color: #5c5c5c;
    border: none;
    color: white;
}
.button_terminal--div
{
    background-color: #5c5c5c;
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin: 0 10px;
}
.button-upload
{
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
}
.chart
{
    align-items: center;
    display: flex;
    justify-content: center;
}
.chartLine
{
    max-height: 500px;
    max-width: 70%;
}
.code_block--pentest
{
    background-color: #272822;
    border-radius: 5px;
    color: #f8f8f2;
    font-family: Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px auto;
    max-height: 500px;
    max-width: 100%;
    overflow: auto;
    padding: 20px 10px;
    text-align: left;
}
.code-block
{
    background-color: #272822;
    border-radius: 5px;
    color: #f8f8f2;
    font-family: Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    height: 500px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 100%;
    overflow: auto;
    padding: 10px;
    text-align: left;
}
.company_name
{
    color: #000;
    font-family: HelveticaNeueCyr;
    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    letter-spacing: 0.2px;
    line-height: normal;
    text-align: right;
}
.company_name cite
{
    color: #097CB4;
}
.company-container
{
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: left;
}
.company-info h2
{
    font-size: 24px;
    margin: 10px 0;
}
.company-sec
{
    border-bottom: 1px solid #555;
    margin: 20px 10px;
}
.console_text
{
    margin-left: 15px;
}
.console_title
{
    color: chartreuse;
}
.continer
{
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1230px;
    padding: 0 15px;
}
.continer_osint
{
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 15px;
}
.continer_project
{
    margin: 0 30px;
    padding: 0 20px;
    text-align: left;
    width: 100%;
}
.continer_project b
{
    color: #6c6b6b;
}
.continer_project p
{
    color: #555;
    font-size: 16px;
    margin: 5px 20px;
}
.desplay_felx_au
{
    display: flex !important;
    flex-flow: row !important;
}
.details-main
{
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 15px;
}
.details-main .summary-main
{
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 0 10px;
    transition: background-color 0.3s ease;
}
.details-main .summary-main ::-webkit-details-marker
{
    display: none;
}
.details-main p
{
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 15px 0;
}
.details-main[open] .summary-main
{
}
.details-terminal
{
    background-color: #5c5c5c;
    color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
}
.details-terminal_osint
{
    background-color: #5c5c5c;
    color: white;
    margin: 0;
    padding: 0;
}
.devid
{
    content: "A" !important;
    display: block !important;
    margin-bottom: 10px !important;
}
.disablePt
{
    opacity: 0.5;
    pointer-events: none;
}
.footer
{
    background-color: #f8f9fa;
    bottom: 0;
    left: 0;
    padding: 3px 0;
    position: fixed;
    right: 0;
    text-align: center;
}
.footer__emb
{
    height: 20em;
}
.footer__social
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer__social li
{
    display: inline-block;
    margin-right: 10px;
}
.footer__social-link
{
    color: #007bff;
    font-size: 20px;
}
.footer__text
{
    color: #777;
    font-size: 12px;
    margin-bottom: 0;
}
.form_osint--div
{
    padding: 0 10px;
    width: 100vw;
}
.form_pentest
{
    background-color: #F8F8FA;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}
.form_pentest--div
{
    padding: 0 25px;
    width: 82vw;
}
.form_pentest--osint
{
}
.header_logo
{
    height: 30px;
    margin: 0 30px;
}
.hero__description
{
    color: #777;
    font-size: 18px;
    margin-bottom: 40px;
}
.hero__subtitle
{
    font-size: 20px;
    line-height: 25px;
    margin: 30px 25px;
    text-align: left;
}
.hero__title
{
    color: #9AAFA8FF;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: start;
}
.home_audit
{
    border-bottom: 1px solid #434a48;
    padding: 50px;
}
.home_logo
{
    margin: 50px auto;
    display: block;
    width: 45%;
}
.icon_terminal
{
    background: white;
    border-radius: 3px;
    color: #5c5c5c;
    padding: 1px;
}
.info__block
{
    margin-bottom: 40px;
}
.info__icon
{
    height: 80px;
    margin-bottom: 20px;
    width: 80px;
}
.info__text
{
    color: #777;
    font-size: 16px;
}
.info__title
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.info_subtitle
{
    color: #007bff;
    margin: 10px 0 5px 3%;
    text-align: left;
}
.input
{
    font-size: 22px;
    min-height: 30px;
    padding: 2px 15px;
    width: 94%;
}
.label-textarea
{
    display: block;
    text-align: left;
}
.label-upload
{
    background-color: #419152;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(255 255 255);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 22px;
    margin: 0;
    outline: none;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;
    vertical-align: middle;
}
.label-upload:hover
{
    background-color: #59be6e;
}
.load
{
    margin: 50px;
}
.load p
{
    color: #9aafa8;
    margin: 10px;
}
.main_btn
{
    align-items: center;
    display: flex;
    height: 87vh;
    justify-content: center;
}
.marka
{
    color: #272822;
    font-weight: 700;
    margin-left: 30px;
}
.metodology_add
{
    background-color: white;
    border: none;
    color: #000;
    font-family: HelveticaNeueCyr;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    text-align: center;
    width: 100%;
}
.metodology_sub
{
    background-color: rgb(0 0 0 / 0%);
    border: none;
    color: #000;
    font-family: HelveticaNeueCyr;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    text-align: center;
}
.more-link
{
    color: #272822;
}
.navbar_pentest
{
    min-height: 2em;
    position: sticky;
    text-align: left;
    top: 0;
}
.navbar_pentest--div
{
    border-right: 1px solid #222;
    padding: 0;
    width: 18vw;
}
.newStyle_background
{
    background-color: #F8F8FA;
}
.newStyle_container
{
    background: #FFF;
    border-radius: 8px;
    box-shadow: 1px 1px 20px 20px #e8e8e863;
    margin: 20px 20px;
    padding: 18px 15px;
}
.newStyle_select
{
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    padding: 10px;
    transition: border-color 0.2s;
    width: 100%;
}
.newStyle_select.error
{
    border-color: #ff0000;
}
.newStyle_select::-webkit-scrollbar
{
    width: 12px;
}
.newStyle_select::-webkit-scrollbar-thumb
{
    background-color: #007bff;
    border-radius: 10px;
}
.newStyle_select::-webkit-scrollbar-thumb:hover
{
    background-color: #0056b3;
}
.newStyle_select:focus
{
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
.newStyle_select:hover
{
    border-color: #666;
}
.newStyle--pentest_container
{
    background: #FFF;
    border-radius: 8px;
    box-shadow: 1px 1px 20px 20px #e8e8e863;
    margin: 20px 0;
    padding: 18px 15px;
}
.osint_block
{
    margin: 0 auto;
    max-width: 100%;
    padding: 30px 0;
}
.osint_info_text
{
    color: #9AAFA8FF;
    font-size: 14px;
    margin: 10px 20px;
    text-align: left;
}
.Osint_input
{
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    line-height: 1.4;
    margin: 10px 0;
    padding: 10px;
    transition: border-color 0.2s;
    width: 100%;
}
.Osint_input.error
{
    border-color: #ff0000;
}
.Osint_input::-webkit-scrollbar
{
    width: 12px;
}
.Osint_input::-webkit-scrollbar-thumb
{
    background-color: #007bff;
    border-radius: 10px;
}
.Osint_input::-webkit-scrollbar-thumb:hover
{
    background-color: #0056b3;
}
.Osint_input:focus
{
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
.Osint_input:hover
{
    border-color: #666;
}
.osint_reject
{
    color: red;
    font-size: 22px;
    margin: 10px 10%;
    text-align: left;
}
.osint_subtitle
{
    color: #000;
    font-family: HelveticaNeueCyr;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    letter-spacing: 0.6px;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}
.osint_sucess
{
    color: green;
    font-size: 22px;
    margin: 10px 10%;
    text-align: left;
}
.Osint_textarea
{
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    line-height: 1.4;
    padding: 10px;
    transition: border-color 0.2s;
    width: 100%;
}
.Osint_textarea.error
{
    border-color: #ff0000;
}
.Osint_textarea::-webkit-scrollbar
{
    width: 12px;
}
.Osint_textarea::-webkit-scrollbar-thumb
{
    background-color: #007bff;
    border-radius: 10px;
}
.Osint_textarea::-webkit-scrollbar-thumb:hover
{
    background-color: #0056b3;
}
.Osint_textarea:focus
{
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
.Osint_textarea:hover
{
    border-color: #666;
}
.pentest_block
{
    margin: 30px 20px;
}
.pentest-section h3,
.osint-section h3
{
    font-size: 20px;
    margin: 10px 0;
}
.pentest-section p,
.osint-section p
{
    font-size: 16px;
    margin: 5px 0;
}
.pentest-section,
.osint-section
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}
.project_arr--item
{
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    color: #555;
    cursor: pointer !important;
    margin: 10px;
    outline: none;
    padding: 20px;
    text-align: left;
}
.project_arr--item p
{
    color: #555;
    font-size: 16px;
    margin: 0 15px;
    padding: 0 15px;
}
.project_card
{
    background-color: #FFF;
    display: block;
    margin: 10px 20px;
}
.project_h1
{
    color: #333;
    font-size: 24px;
    margin: 20px 0 20px;
}
.project_h2
{
    color: #25213B;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 0em;
    line-height: 14px;
    text-align: left;
}
.project_item:hover
{
    background-color: #d5d5d5;
}
.project_item:nth-child(even)
{
    border-bottom: 1px solid rgba(67, 79, 99, 0.30);
    padding: 20px 20px;
}
.project_item:nth-child(odd)
{
    background-color: #F8F8FA;
    border-bottom: 1px solid rgba(67, 79, 99, 0.30);
    padding: 20px 20px;
}
.project_logo
{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 30px 0 20px;
    max-height: 80px;
    width: 80px;
}
.project_outlet
{
    background-color: white;
    margin: 20px;
    max-height: 600px;
    min-height: 500px;
    overflow-y: scroll;
    padding: 20px 20px;
    text-align: center;
}
.project_outlet_btn
{
    cursor: pointer !important;
}
.project_outlet_btn:hover
{
    color: #097CB4 !important;
}
.project_p
{
    color: #848484;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 14px;
    text-align: left;
}
.project_title
{
    color: #000;
    font-family: HelveticaNeueCyr;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-align: left;
}
.ql-editor
{
    min-height: 500px;
}
.section_a
{
    color: #000;
    display: block;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
}
.section_a:hover
{
    color: #000 !important;
}
.section_a:hover
{
    color: #045fff;
}
.section_h1
{
    background-color: #fff;
    border-bottom: 1px solid #8B949F;
    color: #1E2C43;
    font-family: HelveticaNeueCyr;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 4px 0;
    text-transform: uppercase;
}
.section_li
{
    padding: 13px 19px;
}
.section_li:hover
{
    background: #6FD5F5;
    border-radius: 25px;
}
.section_subtitle
{
    color: #097CB4;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.section_title
{
    color: #097CB4;
    display: block;
    font-family: HelveticaNeueCyr;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.section_title:hover
{
    color: #045fff;
}
.section_ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.section_ul .section_ul
{
    list-style: none;
    margin: 0;
    padding: 0 10px;
}
.section_ul--main
{
    background-color: #FFFFFF;
    list-style: none;
    margin: 0;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 4px;
    padding-bottom: 30px;
}
.section-contact__form
{
    margin: 0 auto;
    max-width: 400px;
}
.section-contact__form-input,
.section-contact__form-textarea
{
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}
.section-contact__form-submit
{
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
.section-features__icon
{
    margin: 0 auto;
    max-width: 40%;
}
.section-features__title
{
    color: #9AAFA8FF;
    font-size: 25px;
    line-height: 20px;
    text-align: start;
}
.span_terminal
{
    margin-right: 20px;
    padding: 4px;
}
.start_btn
{
    align-items: center;
    background-color: #272822;
    border-radius: 20px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 10px 20px;
    width: 30%;
}
.start_btn:hover
{
    background-color: white;
    box-shadow: 2px 2px #272822;
    color: #272822;
}
.submit--btn
{
    border-radius: 21px;
    color: #282c34;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    font-weight: 700;
    height: 42px;
    left: 90%;
    margin: 11px;
    padding: 8px 15px 8px;
    position: absolute;
}
.subtitle
{
    color: #9AAFA8FF;
    font-size: 27px;
    font-weight: 700;
    margin: 5px auto;
    max-width: 98%;
    text-align: left;
}
.summary-main
{
    color: #097CB4;
    font-size: 18px;
    list-style: none;
    text-align: right;
}
.summary-terminal
{
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    justify-content: space-between;
    list-style: none;
    padding: 0 10px;
    text-align: left;
    width: 100%;
}
.terminal_minimize
{
    font-weight: 400;
    padding: 0 10px;
}
.text
{
    color: #424242;
    font-size: 80%;
    font-style: italic;
    font-weight: 700;
    line-height: 150%;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 98%;
    text-align: left;
    text-indent: 20px;
}
.title
{
    border-bottom: 1px solid #E8E8E8;
    color: #097CB4;
    font-family: HelveticaNeueCyr;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    width: 500px;
}
.title-h1
{
    border-bottom: 1px solid #097CB4;
    color: #000;
    flex-shrink: 0;
    font-family: HelveticaNeueCyr;
    font-size: 24px;
    font-style: normal;
    font-weight: 550;
    letter-spacing: 1.2px;
    line-height: normal;
    text-align: center;
}
.title-h2
{
    color: #25213B;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-align: left;
}
.title-h2 cite
{
    color: #097CB4;
}
.title-h2 p
{
    color: #656565;
    font-family: HelveticaNeueCyr;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    margin-left: 30px;
}
.title-h2_r
{
    color: #25213B;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-align: right;
}
.title-h2_r cite
{
    color: #097CB4;
}
.title-upload
{
    font-size: 18px;
    font-weight: bold;
}
.upload-container
{
    align-items: center;
    background-color: #fff;
    border: 2px dashed #007bff;
    border-radius: 4px;
    color: #3d3939;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.upload-container:hover
{
    background-color: #f0f0f0;
    border-color: #007bff;
}
::-webkit-scrollbar
{
    height: 5px;
    width: 3px;
}
::-webkit-scrollbar-button
{
    display: none;
}
::-webkit-scrollbar-horizontal
{
    display: none;
}
::-webkit-scrollbar-thumb
{
    background-color: #097CB4;
    border-radius: 5px;
}
::-webkit-scrollbar-track
{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-vertical
{
    display: none;
}
body
{
    background-color: #E8E8E8;
}
code
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
details
{
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
details[open] summary::-webkit-details-marker
{
    display: none;
}
input[type="file"]
{
    display: none;
}
select
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 10px;
    width: 100%;
}
select option
{
    background-color: #fff;
    border: none;
    color: #333;
    font-size: 16px;
    outline: none;
    padding: 10px;
}
select option:hover
{
    background-color: #f0f0f0;
}
summary
{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    text-align: right;
}